:host {
    display: block;
    flex-grow: 1;
}

.prompt-area {
    height: 100%;
    box-sizing: border-box;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prompt-message {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-top: 1rem;
}

.type {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.text {
    font-size: 1.05rem;
    white-space: pre;
    text-wrap: wrap;
}

.input-row {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

input {
    flex: 1 1 auto;
    padding: 0.5rem;
}

button {
    padding: 0.5rem 0.75rem;
}